.App {
  text-align: center;
}

div {
  width: 100%;
}

tr,td,th {
  text-align: center;
  border: 1px solid red;
}

table {
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
}